@import url('../../index.css');

.App {
  width: 100vw;
  height: 100vh;
  background-image: url('../../backgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 42%;
}