@import url('../../index.css');

.Dashboard {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../firstBackground.png'), url('../../secondBackground.png');
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  transform: matrix(-1, 0, 0, -1, 0, 0) rotate(180deg);
}

.Dashboard__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 2.5rem 7.1875rem;
  width: calc(100% - 14.375rem);
  height: calc(100% - 5rem);
}

.Dashboard__header {
  display: flex;
  justify-content: space-between;
}