@import url('../../index.css');

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  height: 100%;
  width: 100%;
  padding-inline: 7.1875rem;
  background-image: url('../../backgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 42%;
}

.Login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 38rem) {
  .Login {
    padding-inline: 1rem;
  }
}