@import url('../../index.css');

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
  padding-right: 6.6875rem;
  padding-left: 6.6875rem;
  border: 0.25rem solid transparent;
  background-image: url('../../images/backgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 42%;
  overflow-y: auto;
}

.Login__form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 38rem) {
  .Login {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}